
/*works */

.works {
    background-image: url("../img/people-bg.jpg");
    background-size: 80% auto;
    background-repeat: no-repeat;
    background-position: 70px 0px;

}

.workwrapper {
}

    
.worksNav {
  float:center;
    padding-top: 30px;
    color: yellow;
    font-family:'bebas';
}

.worksNav li a:hover {
    color:black;
    text-decoration: none;
}

.worksNav li a {
    color: #a1a1a1;
    padding: 20px;    
}



.worksNav ul {
	text-align: center;
    list-style-type: none;
    overflow: hidden;
}

.worksNav li {
	padding: 40px;
    letter-spacing: 4px;
    float: left;
}



.works h2 {
    font-family: 'bebas';
    text-align:center;
}

.works h4 {
    color:#ccbd3c;
    font-family: 'bebas';
    text-align: center;
}

.workactive {
	  border-radius: 10px;
 	  background-color: yellow;
	  height: 30px;
}

.workentry { 
    margin:0px 0px;
    height: 400px;
}
